* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.line {

    margin-top: 15px;
  
    height: 2px;
    background: rgb(197, 192, 192);

}




.text {
    margin-top: 10px;
    margin-bottom: 5px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 135px;
}

main{
    margin: 0 auto;
    max-width: 400px;
    width: 80%;
}


.pust{
    height: 25px;
}

.pust2{
    height: 10px;
}